/* Global */
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial,sans-serif
}

a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 6px;
}

.nav-item:hover{
    text-decoration: underline;
    opacity: .85;
}

/* Utility */
.btn{
    font-weight: bold;
    line-height: 28px;
    color: #fff;
    display: inline-block;
    background: #4285f4;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    padding: 0 12px;
    border: 1px solid #4285f4;
    white-space:nowrap;
    cursor: default;
    font-size: 14px;
    border-radius: 2px;
}

.btn:hover{
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    opacity: 1;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

.nav-item{
    padding-right: 10px;
}

.gb_D {
	display: inline-block;
	outline: none;
	vertical-align: middle;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	color: #000;
	cursor: pointer;
	text-decoration: none;
}


.gb_sc {
	background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
}

.main-container{
    width: 80%;
    margin: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1 fr;
    justify-content: center;
}

/* Logo */
.logo{
    position: relative;
    margin: 20px auto;
}

.share-icon{
    position: absolute;
    left: 420px;
    bottom: 20px;
    opacity: .85;
}

/* Search */
.search{
    position: relative;
}

.search-border{ 
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    max-width: 548px;
    height: 44px;
    margin: 0 auto;
}


#search-bar{
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 5px;
    left: 35px;
    line-height: 34px;
    width: 88%;
}

/* svg */
svg{
    width: 25px;
    opacity: 0.5;
    display: flex;
    float: left;
    position: absolute;
    top: 9px;
    left: 10px;
}

/* Search Buttons */
#search-btn{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.search-btn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 7px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-btn:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.google-language{
    text-align: center;
    margin-top: 20px;
}

.hyperlink{
    font-size: 16px;
    color: blue;
}






